<div class="form-group">
  <label for="start_times">
    <span translate>Start_times</span>
  </label>

  <span class="pull-right text-warning hintbox-label" ng-show="agg.params.start_times.analyzed"
      ng-click="showAnalyzedFieldWarning = !showAnalyzedFieldWarning">
    <i class="fa fa-warning"></i> <span translate>Analyzed Field</span>
  </span>
  <div class="hintbox" ng-show="showAnalyzedFieldWarning && agg.params.start_times.analyzed">
    <p>
    <strong translate>Careful!</strong> <span translate>The field selected contains analyzed strings. Analyzed strings are highly unique and can use a lot of memory to visualize. Values such as</span> <i translate>foo-bar</i> <span translate>will be broken into</span> <i translate>foo</i> <span translate>and</span> <i translate>bar</i><span translate>. See</span> <a href="http://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-types.html" target="_blank"><span translate>Mapping Types</span></a> <span translate>for more information on setting this field as</span> <i translate>keyword</i> <span translate>(not analyzed).</span>
    </p>

    <p ng-show="indexedFieldsStart.byName[agg.params.start_times.name + '.keyword'].analyzed == false">
      <strong translate>Tip:</strong> <i>{{agg.params.start_times.name + '.keyword'}}</i> <span translate>may be a non analyzed version of this field.</span>
    </p>

    <p ng-show="indexedFieldsStart.byName[agg.params.start_times.name + '.raw'].analyzed == false">
      <strong translate>Tip:</strong> <i >{{agg.params.start_times.name + '.raw'}}</i> <span translate>may be a non analyzed version of this field.</span>
    </p>
  </div>

  <select
    class="form-control"
    name="start_times"
    required
    ng-model="agg.params.start_times"
    ng-show="indexedFieldsStart.length"
    auto-select-if-only-one="indexedFieldsStart"
    ng-options="start_times as start_times.displayName group by start_times.type for start_times in indexedFieldsStart"
    ng-change="aggParam.onChange(agg)">
  </select>

  <div class="hintbox" ng-if="!indexedFieldsStart.length">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong translate>No Compatible Fields:</strong> <span translate>The</span> "{{ vis.indexPattern.id }}" <span translate>index pattern does not contain any of the following field types:</span> date
    </p>
  </div>

</div>
