<div class="app-container new-Alarm" ng-controller="saveSuccessAlarm">
  <div class="alarm-navbar-top">
    <div class="localTabs">
      <span class="localTab" translate>新建告警</span>
    </div>
  </div>
  <div class="newSetSaveSuccess">
    <p class="sizeBold" translate>保存成功</p>
    <p class="sizeBold" translate>接下来你想</p>
    <p><a class="text-danger" ng-click="conNewAlarmBuild()">
      &lt
      <span translate>继续新建告警</span>
    </a>
    </p>
    <p><a class="text-danger" ng-click="checkAlarmList()">
      &lt
      <span translate>查看告警任务列表</span></a>
    </p>
  </div>

</div>


