<tr>
  <th width="1%"></th>
  <th style=" min-width: 185px;">
  	<span class="table-header-name">@timestamp<i ng-class="headerClass(name)" tooltip-append-to-body="1"></i></span>
  </th>
  <th ><span class="table-header-name" translate>来源主机<i ng-class="headerClass(name)" tooltip-append-to-body="1"></i></span></th>
  <th ><span class="table-header-name" translate>日志类型<i ng-class="headerClass(name)" tooltip-append-to-body="1"></i></span></th>
  <th ><span class="table-header-name" translate>日志标签<i ng-class="headerClass(name)" tooltip-append-to-body="1"></i></span></th>

<!--   <th ng-repeat="name in columns">
    <span class="table-header-name">
      {{name | shortDots}} <i ng-class="headerClass(name)" tooltip-append-to-body="1"></i>
    </span>

  </th> -->
</tr>